@import "../../style/mixins.scss";

.navbar {
    display: flex;
    color: var(--light-colour );
    align-items: center;
    margin-bottom: 0.5rem;

    a {
        margin-right: 2rem;
    }
    
    .btn-logout {
        @include btn();
        border: 1px solid white;
        float: right;
    }

    .header-logo{
        max-height: 10vh;
    }

    
}

