@import "../../style/mixins.scss";

.navbar {
    display: flex;
    color: var(--light-colour );
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--sulking-room) !important;
    padding: 0.5rem  2rem;
    
    
    .trustpilot-widget{
        position: absolute !important;
        right: 0;
        top: 1.5rem;
    }

    a {
        margin-right: 2rem;
    }
    
    .btn-logout {
        @include btn();
        border: 1px solid white;
        float: right;
    }

    .header-logo{
        
        height: 50px;
        margin: 0.5rem auto;
    }
    @media only screen and (max-width: 600px) {
        
        .trustpilot-widget{
            display: none;
        }
    
    }
    
}

