@mixin btn() {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;


    &:hover {
        box-shadow: var(--box-shadow);
    }
};

@mixin profile() {
    background: var(--light-colour);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}