:root {
    --primary-colour: #cc8084;

    --sulkings-room: #ddbeba;

    --sulking-room: #a2837f;

    --text-dark-colour: #3a3a3a;

    --light-colour: #ffffff;

    --background-grey: #f8f8f8;

    --box-shadow: 0 10px 20px rgba(0, 0, 0 ,0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    --danger-colour: #c71a1a;

    --danger-light-colour: #f1d3d3;

    --input-colour: #ebe8e8;

    --success-colour: rgb(17, 158, 17);

    --success-colour-light: rgb(196, 221, 196);
}