@import "../../style/mixins.scss";

#big-profile{
    height: 100%;
    width: 100%;
    background: var(--background-grey);
    padding-top: 10%;
    color: black;

    #big-prof-view{
        width: 100%;
        height: 100%;
    
        .profile-video {
            width: 60%;
            height: calc(60vw * 0.6);
            margin-left: 10%;
            @media only screen and (max-width: 800px) {
            
                    width: 90%;
                    height: calc(90vw * 0.6);
                    margin-left: 5%;
        }
        }
    
        #name {
            text-align: center;
        }
    
    }

    @media only screen and (max-width: 800px) {
            
            padding-top: 25%;
    
    }
}

.btn-quote{
    @include btn();
    display: block;
    margin: 0 auto ;
    background-color: var(--sulking-room);
    color: var(--light-colour);
    
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--sulking-room); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20% auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  