@import "../../style/mixins.scss";

.filter {
    width: 100vw;
    background-color: var(--background-grey);
    position: absolute;
    left: 0;
    top: 12vh;
    padding: 0.5rem;
    display: block;
    z-index: 999;

    form{
        
        float: right;
    }

    button, a{
        @include btn();
        background: var(--sulking-room);
        color: var(--light-colour);
        margin: 0.5rem;
    }

    a{
        float: left;
        display: inline;

        @media only screen and (max-width: 640px) {
        
            position: absolute;
            right: 5px;
            top: 6.5vh;
           
            }
    }

    label, select{
        padding: 0.5rem;
    }
    select{
        border-radius: 5px;
        margin-right: 1rem;
        width: 150px;

        @media only screen and (max-width: 640px) {
        
        width: 45%;
        margin-right: 0.25rem;
       
        }
        
    }

    @media only screen and (max-width: 640px) {
        
        
       
        
        
    
    }
}